### Project ###
prototype/**/app/

frontend/report.html

magnolia/light-modules/**/webresources/build/
!magnolia/light-modules/**/external/

magnolia/light-modules/**/virtualUriMappings/localhost.yaml

magnolia/*-webapp/**/repositories/
magnolia/*-webapp/**/overlays/
magnolia/*-webapp/**/cache/

### Temp ###
tmp/
temp/
*.tmp
*.bak
.lock

### Java ###
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
target/

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
build/Release
node_modules/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr
modules.xml
out
gen

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.tern-project
.project
.classpath

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

### VisualStudioCode ###
vscode
.settings
*.code-workspace

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
tags

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### Windows ###
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
