.o-map .iframe-wrapper {
    max-height: 670px;
    width: 100%;
    height: 95vh;
}

.map {
    max-height: 670px;
    width: 100%;
    height: 95vh;
}

.gm-style-iw {
    left: 0 !important;
}

.firstHeading {
    text-align: left;
}
