@import url(../variables.css);

.o-lazy-media {
    position: relative;
    overflow: hidden;
}

.o-lazy-media .container {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--default-timing) 50ms;
}

.o-lazy-media .container:not(.has-fixed-ratio) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-lazy-media .container.has-fixed-ratio {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.o-lazy-media .container.js-loaded {
    opacity: 1;
}

.o-lazy-media .media {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover) { position: absolute; }
.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover).is-center { top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); }
.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover).is-top { top: 0; left: 50%; transform: translate3d(-50%, 0, 0); }
.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover).is-right { top: 50%; right: 0; transform: translate3d(0, -50%, 0); }
.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover).is-bottom { bottom: 0; left: 50%; transform: translate3d(-50%, 0, 0); }
.o-lazy-media .container.has-fixed-ratio .media:not(.is-cover).is-left { top: 50%; left: 0; transform: translate3d(0, -50%, 0); }

.o-lazy-media .media.is-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.o-lazy-media .media.is-cover.is-center { object-position: center; }
.o-lazy-media .media.is-cover.is-top { object-position: top; }
.o-lazy-media .media.is-cover.is-right { object-position: right; }
.o-lazy-media .media.is-cover.is-bottom { object-position: bottom; }
.o-lazy-media .media.is-cover.is-left { object-position: left; }
