@import url(../variables.css);

article hr {
    border: 0;
    border-bottom: 1px solid black;
    margin: 1.75em 10rem;
}

article ol,
article ul {
    list-style: disc;
    list-style-position: inside;
}
