@import url(../variables.css);

loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--base01);
    z-index: 999;
    opacity: 1;
}

/* --- Themes --- */
.has-background.-grey { background: var(--base05); }
.has-background.-white { background: white; }
