@import url(../variables.css);

:root {
    --carousel-transition-timing: 350ms;
    --carousel-transition-nonlinear: 1.5s;
    --carousel-delay: 5s;
    --carousel-scale: 1.1;
}

/*
   ┌──────────────┐
   │   CAROUSEL   │
   └──────────────┘
*/
.o-carousel {
    opacity: 0;
    will-change: opacity;
    transition: opacity 0s;
    width: 100%;
}

.o-carousel.js-loaded {
    opacity: 1;
    transition: opacity var(--default-timing) 50ms;
}

.o-carousel,
.o-carousel .slider {
    display: block;
    position: relative;
}

.o-carousel .slider-wrapper {
    position: relative;
}

.o-carousel .slider-inner { overflow: hidden; }

.o-carousel .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*
   ┌─────────────┐
   │   GUTTERS   │
   └─────────────┘
*/

.o-carousel .slider-inner {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.o-carousel.has-inner-gutter .slider-inner {
    position: absolute;
    margin-left: calc(var(--carousel-gutter-width) / -2);
    margin-right: calc(var(--carousel-gutter-width) / -2);
    width: calc(100% + var(--carousel-gutter-width));
}

.o-carousel.is-multirows .item {
    margin-bottom: calc(var(--carousel-gutter-width));
}

.o-carousel.has-inner-gutter .slider {
    overflow:hidden;
}

.o-carousel.has-inner-gutter .item {
    padding-left: calc(var(--carousel-gutter-width) / 2);
    padding-right: calc(var(--carousel-gutter-width) / 2);
}

.o-carousel.has-inner-gutter .item-inner {
    position: relative;
}

/*
   ┌─────────────────────────────┐
   │   FOREGROUND & BACKGROUND   │
   └─────────────────────────────┘
*/
.o-carousel .foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.o-carousel .background {
    z-index: -1;
}

.o-carousel .foreground {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
   ┌────────────────────────────────┐
   │ ANIMATION: LINEAR & HORIZONTAL │
   └────────────────────────────────┘
*/
.o-carousel[data-render="linear"][data-orientation="horizontal"] .slides {
    transition: transform var(--carousel-transition-timing);
    display: flex;
    flex-flow: row nowrap;
}

/*
   ┌──────────────────────────────┐
   │ ANIMATION: LINEAR & VERTICAL │
   └──────────────────────────────┘
*/
.o-carousel[data-render="linear"][data-orientation="vertical"] .slides {
    transition: transform var(--carousel-transition-timing);
    display: flex;
    flex-flow: column nowrap;
}

/*
   ┌───────────────────┐
   │ ANIMATION: ASYNC  │
   └───────────────────┘
*/
.o-carousel[data-render="async"][data-orientation="horizontal"] .slides {
    transition: transform var(--carousel-transition-timing);
}

.o-carousel[data-render="async"] .item {
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    will-change: opacity;
}

.o-carousel[data-render="async"] .item.js-last {
    z-index: 2;
    opacity: 1;
    transition: opacity var(--carousel-transition-timing);
}

.o-carousel[data-render="async"] .item.js-active {
    z-index: 3;
    opacity: 1;
    transition: opacity var(--carousel-transition-nonlinear);
}



/* --- item --- */

.o-carousel .item {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.o-carousel .item-inner {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

.o-carousel .item .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--default-timing) 50ms;
}
.o-carousel .item .picture.js-loaded { opacity: 1; }

.o-carousel .item .image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.o-carousel .item .image.is-cover {
    width: 100%;
    height: 100%;
}

/* ?!? -- Animation -- ?!? */
.o-carousel[data-render="async"] .item {
    overflow: hidden;
    top: 0;
    left: 0;
}

/*
   ┌───────────┐
   │   SWIPE   │
   └───────────┘
*/
/* [FIXME]
.o-carousel .slides.js-moving {
    transition-duration: 0s;
}

.o-carousel.js-swipe .item {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;

    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;
}

.o-carousel .js-swipe.js-cursor-down .item {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/*
   ┌─────────────────────┐
   │ ANIMATION: OPACITY  │
   └─────────────────────┘
*/
.o-carousel[data-render="async"] .item {
    z-index: 1;
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    will-change: opacity;
}

.o-carousel[data-render="async"] .item.js-last {
    z-index: 2;
    opacity: 1;
    transition: opacity var(--carousel-transition-timing);
}

.o-carousel[data-render="async"] .item.js-active {
    z-index: 3;
    opacity: 1;
    transition: opacity var(--carousel-transition-nonlinear);
}


/*
   ┌─────────────┐
   │   CONTENT   │
   └─────────────┘
*/



/*
   ┌──────────────┐
   │   CONTROLS   │
   └──────────────┘
*/
/* [FIXME] */
.o-carousel .controls > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.o-carousel .previous-button {
    left: -20px;
    right: auto;
}

.o-carousel .next-button {
    right: -20px;
    left: auto;
}

.o-carousel .bullet {
    position: relative;
    border: 3px solid currentColor;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.o-carousel .bullet::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
    opacity: 0;
    transition: opacity var(--default-timing);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.o-carousel .bullet:hover::after {
    opacity: 0.35;
}

.o-carousel .bullet.js-active {
    background-color: currentColor;
    border: 3px solid currentColor;
}

.o-carousel .bullet.js-active::after {
    opacity: 1 !important;
}

.o-carousel.js-first-slide .previous-button {
    display: none;
}

.o-carousel.js-last-slide .next-button {
    display: none;
}
