h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-family: var(--headings-font-family);
    color: var(--headings-color);
    font-weight: var(--headings-font-weight);
    line-height: var(--headings-line-height);
    margin: 0 0 0.4em;
    text-rendering: geometricPrecision;
}

h1, .h1 { font-size: var(--h1-font-size); letter-spacing: -2px; text-indent: -3px; }
h2, .h2 { font-size: var(--h2-font-size); letter-spacing: -1px; }
h3, .h3 { font-size: var(--h3-font-size); letter-spacing: -0.6px; }
h4, .h4 { font-size: var(--h4-font-size); }
h5, .h5 { font-size: var(--h5-font-size); }
h6, .h6 { font-size: var(--h5-font-size); }

p {
    font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.75em;
    text-rendering: geometricPrecision;
}

p:last-child { margin-bottom: 0; }

strong { font-weight: 700; }
em { font-style: italic; }

.has-thin-font {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: initial;
}

.has-columns {
    word-wrap: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    columns: 25em auto;
    column-gap: var(--content-gutter-width);
    orphans: 3;
    widows: 2;
}

.is-not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
