@import url(../shared/vars.css);

:root {
    --carousel-transition-timing: 350ms;
    --carousel-transition-nonlinear: 1.5s;
    --carousel-delay: 5s;
    --carousel-scale: 1.1;
    --carousel-min-height: 450px;
}

/*
   ┌──────────────┐
   │   CAROUSEL   │
   └──────────────┘
*/
.o-carousel {
    width: 100%;
    min-height: var(--carousel-min-height);

    opacity: 0;
    will-change: opacity;
    transition: opacity 0s;

    &.js-loaded {
        opacity: 1;
        transition: opacity var(--default-timing) 50ms;
    }
}

.o-carousel,
.o-carousel .slider {
    display: block;
    width: 100%;
    position: relative;
}

.o-carousel .slider { overflow: hidden; }

.o-carousel .slider,
.o-carousel .slides,
.o-carousel .swipe-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.o-carousel .swipe-layer { z-index: 1; }

.o-carousel .slides {
    transition: transform var(--carousel-transition-timing);
    display: flex;
    flex-flow: row nowrap;
}

/* --- Foreground & Background --- */
.o-carousel .foreground,
.o-carousel .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.o-carousel .background { z-index: -1; }

.o-carousel .foreground {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* --- Slide --- */
.o-carousel .slide {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    & .picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: var(--default-timing) 50ms;
    }
    & .picture.js-loaded { opacity: 1; }

    & .image {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    & .image.is-cover {
        width: 100%;
        height: 100%;
    }
}

/* ?!? -- Animation -- ?!? */
.o-carousel[data-render="async"] .slide {
    overflow: hidden;
    top: 0;
    left: 0;
}


/*
   ┌───────────┐
   │   SWIPE   │
   └───────────┘
*/
.o-carousel .slides.js-moving { transition-duration: 0s; }

.o-carousel.js-swipe .slide {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;

    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;
}

.o-carousel .js-swipe.js-cursor-down .slide {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/*
   ┌─────────────────────┐
   │ ANIMATION: OPACITY  │
   └─────────────────────┘
*/
.o-carousel[data-render="async"] .slide {
    z-index: 1;
    opacity: 0;
    transition: 1s;
    transition-timing-function: linear;
    will-change: opacity;
}

.o-carousel[data-render="async"] .slide.js-last {
    z-index: 2;
    opacity: 1;
    transition: opacity var(--carousel-transition-timing);
}

.o-carousel[data-render="async"] .slide.js-active {
    z-index: 3;
    opacity: 1;
    transition: opacity var(--carousel-transition-nonlinear);
}


/*
   ┌─────────────┐
   │   CONTENT   │
   └─────────────┘
*/



/*
   ┌──────────────┐
   │   CONTROLS   │
   └──────────────┘
*/

.o-carousel .previous-button {
    position: absolute;
    left: 0;
    transform: translate(-100px, 28rem);
}

.o-carousel .next-button {
    position: absolute;
    right: 0;
    transform: translate(100px, 28rem);
}

.o-carousel .previous-button:hover g,
.o-carousel .next-button:hover g {
    stroke: black;
}

@media screen and (width < 1420px){
    .o-carousel .previous-button {
        display: none;
    }

    .o-carousel .next-button {
        display: none;
    }
}

.o-carousel .bullets {
    position: absolute;
    z-index: 5;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-1.5rem);
}


.o-carousel .bullet {
    position: relative;
    /*border: 1px solid var( --blue-dark );*/
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin: 9px;
}

.o-carousel .bullet::after {
     content: "";
     display: block;
     width: 100%;
     height: 100%;
     background: white;
     opacity: 0;
     transition: opacity var(--default-timing);
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     border-radius: 50%;
 }

.o-carousel .bullet:hover::after {
     opacity: 0.35;
 }

.o-carousel .bullet.js-active {
    /*background-color: var( --blue-dark );*/
    /*border: 1px solid var( --blue-dark );*/
}

.o-carousel .bullet.js-active::after {
     opacity: 1 !important;
}

/*
   ┌────────────┐
   │   MOBILE   │
   └────────────┘
 */

@media screen and (width < 768px){
    .o-carousel .bullets {
        position: absolute;
        top: 100%;
        z-index: 5;
        bottom: auto;
        left: auto;
        transform: translate(0);
        overflow: hidden;
        height: 6rem;
        padding: 1rem 0 0 0;
    }

    .detail-carousel .bullet {
        /*border: 1px solid var(--grey);*/
        border-radius: 7.5px;
        width: 11px;
        height: 11px;
        margin: 6px;
    }
}
