 @import url(../shared/vars.css);

 @keyframes loadingAnimation {
    0% { opacity: 0 }
    10% { transform: translateX(-120px); opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    90% { transform: translateX(120px); opacity: 0; }
    100% { opacity: 0 }
}

loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 999;
    opacity: 1;
 }
